name: CI - Build Scala Project

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Scala and sbt
        uses: olafurpg/setup-scala@v14
        with:
          java-version: adopt@1.17

      - name: Run compile (skip tests)
        run: sbt clean compile

      - name: Package Assembly JAR
        run: sbt assembly

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: eurowings-scala-assembly
          path: target/scala-2.12/*.jar
