name: CI - Build Scala Project

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: sbt

      - name: Install sbt
        run: |
          curl -L -o sbt.tgz https://github.com/sbt/sbt/releases/download/v1.9.9/sbt-1.9.9.tgz
          tar -xzf sbt.tgz
          echo "$PWD/sbt/bin" >> $GITHUB_PATH

      - name: Run compile (skip tests)
        run: sbt clean compile

      - name: Package Assembly JAR
        run: sbt assembly

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: eurowings-scala-assembly
          path: target/scala-2.12/*.jar
